.fondo {
  background: #e2e7f8;
  min-height: 100vh;
}

.contenedor{
  background-color: white;
  padding: 2rem;
  border-radius: 12px;
  min-height: 80vh;
}

.toast-success .swal2-timer-progress-bar {
  background: #4caf50; /* verde */
}

.toast-error .swal2-timer-progress-bar {
  background: #f44336; /* rojo */
}

.toast-warning .swal2-timer-progress-bar {
  background: #ff9800; /* naranja */
}

.toast-info .swal2-timer-progress-bar {
  background: #2196f3; /* azul */
}